@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600,700,900");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900");
.row:after, .row:before {
  display: table;
  content: "";
  clear: both;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 0;
}

header::after {
  content: '';
  background-image: url(../images/bg-cyber.jpg);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
}

.layer {
  background-color: rgba(43, 46, 74, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100vh;
  width: 100%;
}

.navbar {
  top: 1rem;
  left: 0;
  z-index: 2;
  right: 0;
}

.navbar .bottom-line {
  border-bottom: 1px solid rgba(255, 255, 225, 0.15);
  margin-top: 1rem;
}

.navbar-brand {
  padding-left: 15rem;
}

.navbar-nav {
  padding-right: 15rem;
}

.navbar-nav li a {
  padding-top: 15px;
  padding-bottom: 15px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8em;
  color: rgba(255, 255, 255, 0.75);
  letter-spacing: 0.1em;
}

.navbar-nav li a:hover {
  opacity: 1;
  background-color: #66697e;
  transform: scale(1.2);
  font-weight: 600;
}

.navbar-toggle {
  background-color: #66697e;
}

.navbar-toggle span {
  background-color: rgba(255, 255, 255, 0.75);
}

.jumbotron {
  height: 100vh;
  width: 100%;
  position: relative;
  padding: 0;
  margin-bottom: 0;
}

.jumbotron .wrapper {
  position: absolute;
  z-index: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 100vh;
  width: 100%;
  color: #fff;
  text-align: center;
}

.jumbotron .wrapper h1 {
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 4.8em;
  font-weight: 700;
  -ms-flex: 0 1 auto;
      flex: 0 1 auto;
  max-width: 90rem;
  margin-top: 0;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  line-height: 1;
}

.jumbotron .wrapper P {
  font-size: 1.3em;
  font-weight: 500;
  max-width: 80rem;
  -ms-flex: 0 1 auto;
      flex: 0 1 auto;
  margin-top: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.jumbotron .wrapper a {
  margin-top: 8rem;
  padding: 1.4rem 6rem;
}

.btn {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.5em;
  letter-spacing: 0.1em;
  transition: .2s;
}

.btn:hover {
  font-weight: 600;
}

.actions > div {
  margin-bottom: 2rem;
  margin-top: 10rem;
}

.actions > div .actions__box {
  text-align: center;
  font-size: 0.8em;
  padding: 2rem 6rem;
  min-height: 32rem;
}

.actions > div .actions__box:hover img {
  filter: hue-rotate(190deg) opacity(0.9) saturate(90%);
  transform: rotateY(360deg);
  transition: transform 1s ease-in, filter .3s .2s ease-in;
}

.actions > div img {
  transition: filter  .4s ease-in;
}

.actions > div h4 {
  text-transform: uppercase;
  font-weight: 600;
  padding-top: 2rem;
}

.actions > div p {
  padding-top: 1rem;
}

.gallery {
  padding: 5rem 0 0 0;
}

.gallery .row {
  margin-left: 0;
  margin-right: 0;
}

.gallery .gallery__box {
  padding: 0;
  text-align: center;
  height: 35rem;
  padding: 1px;
}

.gallery .gallery--project {
  height: 100%;
  display: block;
  position: relative;
  overflow: hidden;
}

.gallery .gallery--project:after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: visibility .5s, opacity .5s;
  background-color: rgba(193, 200, 217, 0.7);
}

.gallery .gallery--project:hover:after, .gallery .gallery--project:focus:after {
  visibility: visible;
  opacity: 1;
}

.gallery .gallery--project:hover .gallery--img, .gallery .gallery--project:focus .gallery--img {
  transform: scale(1.1);
}

.gallery .gallery--project:hover .gallery--content, .gallery .gallery--project:focus .gallery--content {
  visibility: visible;
  opacity: 1;
}

.gallery .gallery--img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  transition: transform .5s;
  transform: scale(1);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.gallery .gallery--content {
  top: 50%;
  right: 0;
  left: 0;
  position: absolute;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  color: #263663;
  transition: visibility .5s, opacity .5s;
  transform: translateY(-50%);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.gallery .gallery--content h3 {
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 900;
  letter-spacing: 2px;
}

.gallery .gallery--content p {
  font-weight: 700;
  font-size: 1.2em;
}

.ourTeam {
  padding-top: 10rem;
  padding-bottom: 2rem;
}

.ourTeam .ourTeam__box {
  padding: 4rem;
}

.ourTeam img {
  width: 100%;
}

.ourTeam h2 {
  font-size: 1.45em;
  font-weight: 600;
  padding-left: 1rem;
}

.ourTeam h3 {
  font-size: 0.9em;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  color: rgba(84, 66, 61, 0.9);
  padding-left: 1rem;
}

.ourTeam p {
  font-size: 0.9em;
  padding-left: 1rem;
}

.ourTeam .fab {
  width: 32px;
  height: 32px;
  font-size: 1em;
  text-align: center;
  margin-top: 2rem;
  margin-right: 0.5rem;
  border: 1px solid #7580a1;
  opacity: 0.5;
  color: #7580a1;
  transition: .3s;
  padding-top: 6px;
}

.ourTeam .fab:hover {
  opacity: 1;
  cursor: pointer;
  transform: scale(1.2);
  color: #263663;
  border: 1px solid #263663;
}

.clients {
  padding: 8rem 0 0 0;
}

.clients .carousel {
  background-color: #263663;
}

.clients .carousel img {
  width: 50%;
  height: 100%;
}

.clients .carousel-caption {
  background-color: #263663;
  margin-bottom: 2rem;
  padding: 2rem 2.5rem;
  position: absolute;
  top: 10%;
  left: 50%;
  right: 0;
  bottom: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.clients .carousel-caption q {
  font-style: italic;
  font-size: calc(16px + 5 * ((100vw - 320px) / 448));
  letter-spacing: 1.5px;
}

.clients .carousel-caption p {
  text-transform: uppercase;
  margin-top: 3rem;
  letter-spacing: 1.2px;
}

.download {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  min-height: 40rem;
  margin-top: 4rem;
}

.download h2 {
  font-size: 2.5em;
  font-weight: 300;
  letter-spacing: 1px;
}

.download p {
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 1.5px;
  font-weight: 600;
  padding-top: 1.6rem;
}

.download a {
  padding: 1.4rem 10rem;
  margin-top: 3rem;
}

footer {
  position: relative;
  min-height: 34rem;
  background-color: #c1c8d9;
  color: #263663;
  text-align: center;
  margin-top: 5rem;
}

footer .row {
  padding-top: 5rem;
}

footer h3 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.2em;
  margin-bottom: 3rem;
}

footer p {
  color: #7580a1;
  font-weight: 500;
  line-height: 1.8;
}

footer .footer__social i {
  width: 32px;
  height: 32px;
  font-size: 1em;
  text-align: center;
  margin-top: 2rem;
  margin-right: 0.5rem;
  border: 1px solid #7580a1;
  opacity: 0.5;
  color: #7580a1;
  transition: .3s;
  padding-top: 6px;
  width: 40px;
  height: 40px;
  font-size: 1.2em;
  padding-top: 7px;
  margin-top: 0;
}

footer .footer__social i:hover {
  opacity: 1;
  cursor: pointer;
  transform: scale(1.2);
  color: #263663;
  border: 1px solid #263663;
}

footer .credits {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 6rem;
  background-color: #263663;
}

footer .credits p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #c1c8d9;
  font-weight: 400;
  letter-spacing: 1px;
}
/*# sourceMappingURL=style.prefixed.css.map */