@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600,700,900");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900");
.row:after, .row:before {
  display: table;
  content: "";
  clear: both;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 0;
}

header::after {
  content: '';
  background-image: url(../images/bg-cyber.jpg);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
}

.layer {
  background-color: rgba(43, 46, 74, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100vh;
  width: 100%;
}

.navbar {
  top: 1rem;
  left: 0;
  z-index: 2;
  right: 0;
}

.navbar .bottom-line {
  border-bottom: 1px solid rgba(255, 255, 225, 0.15);
  margin-top: 1rem;
}

.navbar-brand {
  padding-left: 15rem;
}

.navbar-nav {
  padding-right: 15rem;
}

.navbar-nav li a {
  padding-top: 15px;
  padding-bottom: 15px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8em;
  color: rgba(255, 255, 255, 0.75);
  letter-spacing: 0.1em;
}

.navbar-nav li a:hover {
  opacity: 1;
  background-color: #66697e;
  transform: scale(1.2);
  font-weight: 600;
}

.navbar-toggle {
  background-color: #66697e;
}

.navbar-toggle span {
  background-color: rgba(255, 255, 255, 0.75);
}

.jumbotron {
  height: 100vh;
  width: 100%;
  position: relative;
  padding: 0;
  margin-bottom: 0;
}

.jumbotron .wrapper {
  position: absolute;
  z-index: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 100vh;
  width: 100%;
  color: #fff;
  text-align: center;
}

.jumbotron .wrapper h1 {
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 4.8em;
  font-weight: 700;
  -ms-flex: 0 1 auto;
      flex: 0 1 auto;
  max-width: 90rem;
  margin-top: 0;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  line-height: 1;
}

.jumbotron .wrapper P {
  font-size: 1.3em;
  font-weight: 500;
  max-width: 80rem;
  -ms-flex: 0 1 auto;
      flex: 0 1 auto;
  margin-top: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.jumbotron .wrapper a {
  margin-top: 5rem;
  padding: 12px 45px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.2em;
}

.actions > div {
  margin-bottom: 2rem;
  margin-top: 10rem;
}

.actions > div .actions__box {
  text-align: center;
  font-size: 0.8em;
  padding: 2rem 6rem;
  min-height: 32rem;
}

.actions > div .actions__box:hover img {
  filter: hue-rotate(190deg) opacity(0.9) saturate(90%);
  transform: rotateY(360deg);
  transition: transform 1s ease-in, filter .3s .2s ease-in;
}

.actions > div img {
  transition: filter  .4s ease-in;
}

.actions > div h4 {
  text-transform: uppercase;
  font-weight: 600;
  padding-top: 2rem;
}

.actions > div p {
  padding-top: 1rem;
}

.gallery {
  padding: 7rem 0 0 0;
}

.gallery .row {
  margin-left: 0;
  margin-right: 0;
}

.gallery .gallery__box {
  padding: 0;
  text-align: center;
  height: 35rem;
  padding: 1px;
}

.gallery .gallery--project {
  height: 100%;
  display: block;
  position: relative;
  overflow: hidden;
}

.gallery .gallery--project:after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: visibility .5s, opacity .5s;
  background-color: rgba(67, 127, 196, 0.8);
}

.gallery .gallery--project:hover:after, .gallery .gallery--project:focus:after {
  visibility: visible;
  opacity: 1;
}

.gallery .gallery--project:hover .gallery--img, .gallery .gallery--project:focus .gallery--img {
  transform: scale(1.1);
}

.gallery .gallery--project:hover .gallery--content, .gallery .gallery--project:focus .gallery--content {
  visibility: visible;
  opacity: 1;
}

.gallery .gallery--img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  transition: transform .5s;
  transform: scale(1);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.gallery .gallery--content {
  top: 50%;
  right: 0;
  left: 0;
  position: absolute;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  color: rgba(112, 0, 0, 0.918);
  transition: visibility .5s, opacity .5s;
  transform: translateY(-50%);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.gallery .gallery--content h3 {
  text-transform: uppercase;
  font-size: 2.5em;
  font-weight: 600;
  letter-spacing: 1.5px;
}

.gallery .gallery--content p {
  font-weight: 600;
  font-size: 1.5em;
}
/*# sourceMappingURL=style.prefixed.css.map */