@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600,700,900");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600,700,900");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900");
.row:after, .row:before {
  display: table;
  content: "";
  clear: both;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 0;
}

/* @media (min-width: 1200px) { ... }  */
header::after {
  content: '';
  background-image: url(../images/bg-cyber.jpg);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
}

.layer {
  background-color: rgba(38, 54, 99, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100vh;
  width: 100%;
}

.navbar {
  top: 1rem;
  left: 0;
  z-index: 1;
  right: 0;
}

.navbar .bottom-line {
  border-bottom: 1px solid rgba(255, 255, 225, 0.2);
  margin-top: 1rem;
}

.navbar .navbar-brand {
  padding-left: 10rem;
}

.navbar .navbar-nav {
  padding-right: 10rem;
}

.navbar .navbar-nav li a {
  padding-top: 15px;
  padding-bottom: 15px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.75);
  letter-spacing: 0.1em;
  transition: 0.5s;
}

.navbar .navbar-nav li a:hover {
  opacity: 1;
  background-color: transparent;
  transform: scale(1.2);
  font-weight: 600;
}

.navbar .navbar-nav li a:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #7580a1;
  transition: transform 0.5s;
  transform-origin: right;
  transform: scaleY(0);
  z-index: -1;
}

.navbar .navbar-nav li a:hover:before {
  transition: transform 0.5s;
  transform-origin: left;
  transform: scaleX(1);
}

.navbar .navbar-toggle {
  background-color: #66697e;
  margin: 0;
}

.navbar .navbar-toggle span {
  background-color: rgba(255, 255, 255, 0.75);
}

.jumbotron {
  height: 100vh;
  width: 100%;
  position: relative;
  padding: 0;
  margin-bottom: 0;
}

.jumbotron .wrapper {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  height: 100vh;
  width: 100%;
  color: #fff;
  text-align: center;
}

.jumbotron .wrapper h1 {
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 4.8em;
  font-weight: 700;
  flex: 0 1 auto;
  max-width: 90rem;
  margin-top: 0;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  line-height: 1;
}

.jumbotron .wrapper P {
  font-size: 1.3em;
  font-weight: 500;
  max-width: 80rem;
  flex: 0 1 auto;
  margin-top: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.jumbotron .wrapper a {
  margin-top: 8rem;
  padding: 1.2rem 6rem;
}

.btn {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.2em;
  letter-spacing: 0.1em;
  transition: .4s;
  border: 2px solid rgba(245, 6, 6, 0.8);
  background-color: rgba(245, 6, 6, 0.8);
  color: #263663;
}

.btn:hover {
  color: #263663;
  border: 2px solid #263663;
}

.actions > div {
  margin-bottom: 2rem;
  margin-top: 10rem;
}

.actions > div .actions__box {
  text-align: center;
  font-size: 0.8em;
  padding: 2rem 6rem;
  min-height: 32rem;
}

.actions > div .actions__box:hover img {
  filter: hue-rotate(190deg) opacity(0.9) saturate(90%);
  transform: rotateY(360deg);
  transition: transform 1s ease-in, filter .3s .2s ease-in;
}

.actions > div img {
  transition: filter  .4s ease-in;
}

.actions > div h4 {
  text-transform: uppercase;
  font-weight: 600;
  padding-top: 2rem;
  color: #263663;
}

.actions > div p {
  padding-top: 1rem;
}

.gallery {
  padding: 5rem 0 0 0;
}

.gallery .row {
  margin-left: 0;
  margin-right: 0;
}

.gallery .gallery__box {
  padding: 0;
  text-align: center;
  height: 35rem;
  padding: 1px;
}

.gallery .gallery--project {
  height: 100%;
  display: block;
  position: relative;
  overflow: hidden;
}

.gallery .gallery--project:after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: visibility .5s, opacity .5s;
  background-color: rgba(193, 200, 217, 0.7);
}

.gallery .gallery--project:hover:after, .gallery .gallery--project:focus:after {
  visibility: visible;
  opacity: 1;
}

.gallery .gallery--project:hover .gallery--img, .gallery .gallery--project:focus .gallery--img {
  transform: scale(1.1);
}

.gallery .gallery--project:hover .gallery--content, .gallery .gallery--project:focus .gallery--content {
  visibility: visible;
  opacity: 1;
}

.gallery .gallery--img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform .5s;
  transform: scale(1);
  backface-visibility: hidden;
}

.gallery .gallery--content {
  top: 50%;
  right: 0;
  left: 0;
  position: absolute;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  color: #263663;
  transition: visibility .5s, opacity .5s;
  transform: translateY(-50%);
  backface-visibility: hidden;
}

.gallery .gallery--content h3 {
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 900;
  letter-spacing: 2px;
}

.gallery .gallery--content p {
  font-weight: 700;
  font-size: 1.2em;
}

.ourTeam {
  padding-top: 10rem;
  padding-bottom: 2rem;
}

.ourTeam .ourTeam__box {
  padding: 4rem;
}

.ourTeam img {
  width: 100%;
}

.ourTeam h2 {
  font-size: 1.45em;
  font-weight: 600;
}

.ourTeam h3 {
  font-size: 0.9em;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  color: rgba(84, 66, 61, 0.9);
}

.ourTeam p {
  font-size: 0.9em;
}

.ourTeam .fab {
  width: 32px;
  height: 32px;
  font-size: 1em;
  text-align: center;
  margin-top: 2rem;
  margin-right: 0.5rem;
  border: 2px solid #7580a1;
  opacity: 0.5;
  color: #7580a1;
  transition: .3s;
  padding-top: 6px;
}

.ourTeam .fab:hover {
  opacity: 1;
  cursor: pointer;
  color: #263663;
  border: 2px solid #263663;
}

.clients {
  padding: 8rem 0 0 0;
}

.clients .carousel {
  background-color: #263663;
}

.clients .carousel img {
  width: 50%;
  height: 100%;
}

.clients .carousel-caption {
  background-color: #263663;
  margin-bottom: 2rem;
  padding: 2rem 2.5rem;
  position: absolute;
  top: 10%;
  left: 50%;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}

.clients .carousel-caption q {
  font-style: italic;
  font-size: calc(16px + 5 * ((100vw - 320px) / 448));
  letter-spacing: 1.5px;
}

.clients .carousel-caption p {
  text-transform: uppercase;
  margin-top: 3rem;
  letter-spacing: 1.2px;
}

.download {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 40rem;
  margin-top: 4rem;
}

.download h2 {
  font-size: 2.5em;
  font-weight: 300;
  letter-spacing: 1px;
}

.download p {
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 1.5px;
  font-weight: 600;
  padding-top: 1.6rem;
}

.download a {
  padding: 1.2rem 10rem;
  margin-top: 3rem;
}

footer {
  position: relative;
  min-height: 30rem;
  background-color: #c1c8d9;
  color: #263663;
  text-align: center;
  margin-top: 5rem;
}

footer .row {
  padding-top: 5rem;
}

footer h3 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.2em;
  margin-bottom: 3rem;
}

footer p {
  color: media-social-color;
  font-weight: 500;
  line-height: 1.8;
}

footer .footer__social i {
  width: 32px;
  height: 32px;
  font-size: 1em;
  text-align: center;
  margin-top: 2rem;
  margin-right: 0.5rem;
  border: 2px solid #7580a1;
  opacity: 0.5;
  color: #7580a1;
  transition: .3s;
  padding-top: 6px;
  width: 40px;
  height: 40px;
  font-size: 1.2em;
  padding-top: 8px;
  margin-top: 0;
}

footer .footer__social i:hover {
  opacity: 1;
  cursor: pointer;
  color: #263663;
  border: 2px solid #263663;
}

footer .credits {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 6rem;
  background-color: #263663;
}

footer .credits p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #c1c8d9;
  font-weight: 400;
  letter-spacing: 1px;
}

.row:after, .row:before {
  display: table;
  content: "";
  clear: both;
}

/* @media (min-width: 992) and (max-width: 1199px) { ... } */
body {
  font-size: 14px;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .navbar .navbar-brand {
    padding-left: 5rem;
  }
  .navbar .navbar-nav {
    padding-right: 5rem;
  }
  .navbar .navbar-nav li a {
    padding-top: 2rem;
  }
  .jumbotron .wrapper h1 {
    font-size: 4em;
  }
  .jumbotron .wrapper p {
    font-size: 1em;
  }
  .jumbotron .wrapper a {
    margin-top: 7rem;
  }
  .ourTeam .ourTeam__box {
    padding: 2rem;
  }
  .ourTeam .fab {
    padding-top: 7px;
    margin-right: 0.1rem;
  }
  footer .footer__social i {
    width: 30px;
    height: 30px;
    font-size: 1em;
    padding-top: 7px;
    margin-right: 0.1rem;
  }
}

/* @media (min-width: 768px) and (max-width: 991px) {...} */
@media (min-width: 768px) and (max-width: 991px) {
  body {
    font-size: 12px;
  }
  .navbar .navbar-brand {
    padding-left: 1rem;
  }
  .navbar .navbar-brand img {
    width: 15rem;
  }
  .navbar .navbar-nav {
    padding-right: 0;
  }
  .navbar .navbar-nav li a {
    padding-top: 1.5rem;
  }
  .jumbotron .wrapper h1 {
    font-size: 3.7em;
  }
  .jumbotron .wrapper p {
    font-size: 1.2em;
    padding: 0 10rem;
  }
  .jumbotron .wrapper a {
    margin-top: 7rem;
    padding: 1rem 5rem;
  }
  .ourTeam .ourTeam__box {
    padding: 2rem;
  }
  .ourTeam .fab {
    margin-right: 0.1rem;
    padding-top: 6px;
    font-size: 1.2em;
  }
  .clients .carousel-caption q {
    font-size: 1.2em;
  }
  .download {
    margin-top: 0;
  }
  .download h2 {
    font-size: 1.8em;
  }
  .download a {
    padding: 1rem 7rem;
  }
  footer {
    margin-top: 1rem;
  }
  footer .footer__social i {
    width: 30px;
    height: 30px;
    font-size: 1.2em;
    padding-top: 6px;
    margin-right: 0.1rem;
  }
}

/* @media (max-width: 767px) { ... } */
@media (max-width: 767px) {
  .navbar .navbar-header {
    margin: 0;
  }
  .navbar .navbar-brand {
    padding-left: 0;
  }
  .navbar .navbar-brand img {
    width: 15rem;
  }
  .navbar .navbar-nav li a {
    padding-top: 1.5rem;
  }
  .navbar .navbar-collapse {
    text-align: center;
    background-color: #263663;
  }
  .navbar .navbar-nav {
    padding: 0;
    margin: 0;
  }
  .navbar .navbar-nav li a:hover {
    transform: scale(1);
  }
  .jumbotron .wrapper h1 {
    font-size: 2.8em;
    padding: 0 3rem;
  }
  .jumbotron .wrapper p {
    font-size: 1em;
    margin-top: 2rem;
    padding: 0 5rem;
  }
  .jumbotron .wrapper a {
    margin-top: 7rem;
    padding: 0.7rem 2rem;
  }
  .actions > div {
    margin-bottom: 2rem;
    margin-top: 4rem;
  }
  h4 {
    font-size: 2em;
  }
  p {
    font-size: 1.3em;
  }
  .ourTeam h2 {
    font-size: 2em;
  }
  .ourTeam h3 {
    font-size: 1.2em;
  }
  .ourTeam .fab {
    padding-top: 7px;
  }
  .clients {
    padding: 5rem 0 0 0;
  }
  .clients .carousel-indicators {
    margin-bottom: 0;
  }
  .clients .carousel img {
    width: 100%;
  }
  .clients .carousel-caption {
    position: static;
  }
  .clients .carousel-caption q {
    font-size: 1.2em;
  }
  .clients .carousel-caption p {
    font-size: 1em;
  }
  .download {
    margin-top: 0;
    padding: 0 5rem;
    text-align: center;
  }
  .download h2 {
    font-size: 1.6em;
  }
  .download a {
    padding: 1rem 5rem;
  }
  footer {
    margin-top: 0;
  }
  footer .row {
    padding-top: 0;
    padding-bottom: 4rem;
  }
  footer h3 {
    font-size: 1em;
    margin-bottom: 1rem;
  }
  footer p {
    font-size: 1em;
    line-height: 1.2;
    padding-bottom: 1rem;
  }
  footer .footer__social {
    padding-bottom: 1rem;
  }
  footer .footer__social i {
    width: 30px;
    height: 30px;
    font-size: 1em;
    padding-top: 7px;
    margin-right: 0.1rem;
  }
  footer .credits {
    height: 5rem;
  }
  footer .credits p {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 1em;
  }
}

/*# sourceMappingURL=style.css.map */