@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600,700,900');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900');

$body-font: 'Raleway', sans-serif;
$second-font: 'Source Sans Pro', sans-serif;
$font-size-body: 16px;

//$jumbotronX-background: url(../images/bg1.jpeg);
$jumbotron-background: url(../images/bg-cyber.jpg);
$jumbotron-layer-color: rgba(38, 54, 99, 0.7);//rgba(43,46,74, 0.7);

$color-white: #fff;
$brand-color: #66697e;
$navbar-color: rgba(255, 255, 255, 0.75);
$navbar-line-color: rgba(255, 255, 225, .2);

$button-color: rgba(245, 6, 6, 0.8);
$gallery-background: rgba(193, 200, 217, 0.7);
$color-blue: rgb(38, 54, 99);
$media-social-color: rgba(117, 128, 161, 1);

$footer-background: rgb(193, 200, 217);

$padding-team: 1rem;

@mixin clearfix() {
    &:after,
    &:before {
        display: table;
        content: "";
        clear: both;
    }
}
.row {
    @include clearfix;
}

@mixin social-media {
    width: 32px;
    height: 32px;
    font-size: 1em;
    text-align: center;
    margin-top: 2rem;
    margin-right: 0.5rem;
    border: 2px solid $media-social-color;
    opacity: 0.5;
    color: $media-social-color;
    transition: .3s;
    padding-top: 6px;
}
@mixin social-media-hover {
    opacity: 1;
    cursor: pointer;
   // transform: scale(1.1);
    color: $color-blue;
    border: 2px solid $color-blue;
}