@import "base";

body {
    font-family: $body-font;
    font-size: $font-size-body;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 0;
}

/* @media (min-width: 1200px) { ... }  */

// Header
header {
    &::after {
        content: '';
        background-image: $jumbotron-background;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-attachment: fixed;
        background-size: cover;
    }
}

.layer {
    background-color: $jumbotron-layer-color;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100vh;
    width: 100%;
}

// Navbar
.navbar {
    top: 1rem;
    left: 0;
    z-index: 1;
    right: 0;

    .bottom-line {
        border-bottom: 1px solid $navbar-line-color;
        margin-top: 1rem;
    }

    .navbar-brand {
        padding-left: 10rem;
    }

    .navbar-nav {
        padding-right: 10rem;
    }

    .navbar-nav li a {
        padding-top: 15px;
        padding-bottom: 15px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 0.9em;
        color: $navbar-color;
        letter-spacing: 0.1em;
        transition: 0.5s;

        &:hover {
            opacity: 1;
            background-color: transparent;
            transform: scale(1.2);
            font-weight: 600;
        }

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $media-social-color;
            transition: transform 0.5s;
            transform-origin: right;
            transform: scaleY(0);
            z-index: -1;
        }

        &:hover:before {
            transition: transform 0.5s;
            transform-origin: left;
            transform: scaleX(1);
        }
    }

    .navbar-toggle {
        background-color: $brand-color;
        margin: 0;

        span {
            background-color: $navbar-color;
        }
    }
}

//  Jumbotron wrapper
.jumbotron {
    height: 100vh;
    width: 100%;
    position: relative;
    padding: 0;
    margin-bottom: 0;

    .wrapper {
        position: absolute;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
        height: 100vh;
        width: 100%;
        color: $color-white;
        text-align: center;

        h1 {
            text-transform: uppercase;
            font-family: $second-font;
            font-size: 4.8em;
            font-weight: 700;
            flex: 0 1 auto;
            max-width: 90rem;
            margin-top: 0;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            line-height: 1;
        }

        P {
            font-size: 1.3em;
            font-weight: 500;
            max-width: 80rem;
            flex: 0 1 auto;
            margin-top: 1rem;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }

        a {
            margin-top: 8rem;
            padding: 1.2rem 6rem;

        }
    }
}

.btn {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2em;
    letter-spacing: 0.1em;
    transition: .4s;
    border: 2px solid $button-color;
    background-color: $button-color;
    color: $color-blue;

    &:hover {
        color: $color-blue;
        border: 2px solid $color-blue;
        //transform: scale(1.1);
    }
}

// Section actions
.actions>div {
    margin-bottom: 2rem;
    margin-top: 10rem;

    .actions__box {
        text-align: center;
        font-size: 0.8em;
        padding: 2rem 6rem;
        min-height: 32rem;

        &:hover img {
            filter: hue-rotate(190deg) opacity(0.9) saturate(90%);
            transform: rotateY(360deg);
            transition: transform 1s ease-in, filter .3s .2s ease-in;

        }
    }

    img {
        transition: filter .4s ease-in;
    }

    h4 {
        text-transform: uppercase;
        font-weight: 600;
        padding-top: 2rem;
        color: $color-blue;
    }

    p {
        padding-top: 1rem;
    }
}

// Section projects
.gallery {
    padding: 5rem 0 0 0;

    .row {
        margin-left: 0;
        margin-right: 0;
    }

    .gallery__box {
        padding: 0;
        text-align: center;
        height: 35rem;
        padding: 1px;
    }

    .gallery--project {
        height: 100%;
        display: block;
        position: relative;
        overflow: hidden;

        &:after {
            content: "";
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            visibility: hidden;
            opacity: 0;
            transition: visibility .5s, opacity .5s;
            background-color: $gallery-background;
        }

        &:hover,
        &:focus {
            &:after {
                visibility: visible;
                opacity: 1;
            }

            .gallery--img {
                transform: scale(1.1);
            }

            .gallery--content {
                visibility: visible;
                opacity: 1;
            }
        }
    }

    .gallery--img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        transition: transform .5s;
        transform: scale(1);
        backface-visibility: hidden;
    }

    .gallery--content {
        top: 50%;
        right: 0;
        left: 0;
        position: absolute;
        z-index: 1;
        visibility: hidden;
        opacity: 0;
        color: $color-blue;
        transition: visibility .5s, opacity .5s;
        transform: translateY(-50%);
        backface-visibility: hidden;

        h3 {
            text-transform: uppercase;
            font-size: 2em;
            font-weight: 900;
            letter-spacing: 2px;
        }

        p {
            font-weight: 700;
            font-size: 1.2em;
        }
    }
}

// Section team
.ourTeam {
    padding-top: 10rem;
    padding-bottom: 2rem;

    .ourTeam__box {
        padding: 4rem;
    }

    img {
        width: 100%;
    }

    h2 {
        font-size: 1.45em;
        font-weight: 600;
        //padding-left: $padding-team;
    }

    h3 {
        font-size: 0.9em;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 600;
        color: rgba(84, 66, 61, 0.9);
        //padding-left: $padding-team;
    }

    p {
        font-size: 0.9em;
        //padding-left: $padding-team;
    }

    .fab {
        @include social-media();

        &:hover {
            @include social-media-hover();
        }
    }
}

//Section references
.clients {
    padding: 8rem 0 0 0;

    .carousel {
        background-color: $color-blue;

        img {
            width: 50%;
            height: 100%;
        }
    }

    .carousel-caption {
        background-color: $color-blue;
        margin-bottom: 2rem;
        padding: 2rem 2.5rem;
        position: absolute;
        top: 10%;
        left: 50%;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;

        q {
            font-style: italic;
            font-size: calc(16px + 5 * ((100vw - 320px) / 448));
            letter-spacing: 1.5px;
        }

        p {
            text-transform: uppercase;
            margin-top: 3rem;
            letter-spacing: 1.2px;
        }
    }
}

// Section download
.download {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 40rem;
    margin-top: 4rem;

    h2 {
        font-size: 2.5em;
        font-weight: 300;
        letter-spacing: 1px;
    }

    p {
        text-transform: uppercase;
        font-size: 0.8em;
        letter-spacing: 1.5px;
        font-weight: 600;
        padding-top: 1.6rem;
    }

    a {
        padding: 1.2rem 10rem;
        margin-top: 3rem;
    }
}

// Footer
footer {
    position: relative;
    min-height: 30rem;
    background-color: $footer-background;
    color: $color-blue;
    text-align: center;
    margin-top: 5rem;

    #slideUp {
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        border: 2px solid $button-color;
        z-index: 2;
        background-color: $footer-background;
        color: $navbar-color;
        padding-top: 0.6rem;
        position: fixed;
        bottom: 27rem;
        right: -23rem;
        .fas {
            color: $button-color;
        }
    }

    .row {
        padding-top: 5rem;
    }

    h3 {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.2em;
        margin-bottom: 3rem;
    }

    p {
        color: media-social-color;
        font-weight: 500;
        line-height: 1.8;
    }

    .footer__social i {
        @include social-media();
        width: 40px;
        height: 40px;
        font-size: 1.2em;
        padding-top: 8px;
        margin-top: 0;

        &:hover {
            @include social-media-hover();
        }
    }

    .credits {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        height: 6rem;
        background-color: $color-blue;

        p {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: $footer-background;
            font-weight: 400;
            letter-spacing: 1px;
        }
    }
}



@import "media";