@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600,700,900');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900');

$body-font: 'Raleway', sans-serif;
$second-font: 'Source Sans Pro', sans-serif;
$font-size-body: 16px;

//$jumbotronX-background: url(../images/bg1.jpeg);
$jumbotron-background: url(../images/bg-cyber.jpg);
$jumbotron-layer-color: rgba(43,46,74, 0.7);

$color-white: #fff;
$brand-color: #66697e;
$navbar-color: rgba(255, 255, 255, 0.75);
$gallery-content-color: rgba(112, 0, 0, 0.9);
$layer-social-color: rgba(67, 127, 196, 0.8);

$padding-team: 1rem;


@mixin clearfix() {
    &:after,
    &:before {
        display: table;
        content: "";
        clear: both;
    }
}
.row {
    @include clearfix;
}

body {
    font-family: $body-font;
    font-size: $font-size-body;
    margin: 0;
    padding: 0;

}
.container {
    width: 80%;
    margin: 0 auto;
    padding: 0;
}
// @media (min-width: 1170px) { ... }
// Header
header {
    &::after {
        content: '';
        background-image: $jumbotron-background;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-attachment: fixed;
        background-size: cover;
    }
}
.layer {
    background-color: $jumbotron-layer-color;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100vh;
    width: 100%;
}

// Navbar
.navbar {
    top: 1rem;
    left: 0;
    z-index: 2;
    right: 0;
    .bottom-line {
        border-bottom: 1px solid rgba(255, 255, 225, .15);
        margin-top: 1rem;
    }
}
.navbar-brand {
    padding-left: 15rem;
}
.navbar-nav {
    padding-right: 15rem;
}
.navbar-nav li a {
    padding-top: 15px;
    padding-bottom: 15px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8em;
    color: $navbar-color;
    letter-spacing: 0.1em;
    &:hover {
        opacity: 1;
        background-color: $brand-color;
        transform: scale(1.2);
        font-weight: 600;
    }
}
.navbar-toggle {
    background-color: $brand-color;
    span {
        background-color: $navbar-color;
    }
}
//  Jumbotron wrapper
.jumbotron {
    height: 100vh;
    width: 100%;
    position: relative;
    padding: 0;
    margin-bottom: 0;
    .wrapper {
        position: absolute;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
        height: 100vh;
        width: 100%;
        color: $color-white;
        text-align: center;
        h1 {
            text-transform: uppercase;
            font-family: $second-font;
            font-size: 4.8em;
            font-weight: 700;
            flex: 0 1 auto;
            max-width: 90rem;
            margin-top: 0;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            line-height: 1;
        }
        P {
            font-size: 1.3em;
            font-weight: 500;
            max-width: 80rem;
            flex: 0 1 auto;
            margin-top: 1rem;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }
        a {
            margin-top: 5rem;
            padding: 12px 45px;
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: 0.2em;
        }
    }
}

// Section actions
.actions > div {
    margin-bottom: 2rem;
    margin-top: 10rem;
    .actions__box {
        text-align: center;
        font-size: 0.8em;
        padding: 2rem 6rem;
        min-height: 32rem;
        &:hover img {
            filter: hue-rotate(190deg) opacity(0.9) saturate(90%);
            transform: rotateY(360deg);
            transition: transform 1s ease-in, filter .3s .2s ease-in;

        }
    }
    img {
        transition: filter  .4s ease-in;
    }
    h4 {
        text-transform: uppercase;
        font-weight: 600;
        padding-top: 2rem;
    }
    p {
        padding-top: 1rem;
    }
}

// Section projects
.gallery {
    padding: 5rem 0 0 0;
    .row {
        margin-left: 0;
        margin-right: 0;
    }
    .gallery__box {
        padding: 0;
        text-align: center;
        height: 35rem;
        padding: 1px;
    }
    .gallery--project {
        height: 100%;
        display: block;
        position: relative;
        overflow: hidden;
        &:after {
            content: "";
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            visibility: hidden;
            opacity: 0;
            transition: visibility .5s, opacity .5s;
            background-color: $layer-social-color;
        }
        &:hover, &:focus{
             &:after {
                visibility: visible;
                opacity: 1;
            }
            .gallery--img {
                transform: scale(1.1);
            }
            .gallery--content {
                visibility: visible;
                opacity: 1;
            }
        }
    }
    .gallery--img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        transition: transform .5s;
        transform: scale(1);
        backface-visibility: hidden;
    }
    .gallery--content {
        top: 50%;
        right: 0;
        left: 0;
        position: absolute;
        z-index: 1;
        visibility: hidden;
        opacity: 0;
        color: $gallery-content-color;
        transition: visibility .5s, opacity .5s;
        transform: translateY(-50%);
        backface-visibility: hidden;
        h3 {
            text-transform: uppercase;
            font-size: 1.8em;
            font-weight: 600;
            letter-spacing: 2px;
        }
        p {
            font-weight: 600;
            font-size: 1.2em;
        }
    }
}

// Section team
.ourTeam {
    padding-top: 10rem;
    padding-bottom: 2rem;
    .ourTeam__box {
        padding: 3rem;
    }
    img {
        width: 100%;
    }
    h2 {
        font-size: 1.45em;
        font-weight: 600;
        padding-left: $padding-team;
    }
    h3 {
        font-size: 0.9em;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 600;
        color: $gallery-content-color;
        padding-left: $padding-team;
    }
    p {
        font-size: 0.9em;
        padding-left: $padding-team;
    }
    .ourTeam__social {
        padding-left: $padding-team;
    }
    .fab {
        width: 30px;
        height: 30px;
        font-size: 1em;
        text-align: center;
        margin-right: 3px;
        margin-top: 2rem;
        border: 1px solid $brand-color;
        opacity: 0.5;
        color: $brand-color;
        transition: .3s;
        padding-top: 6px;
        &:hover {
            opacity: 1;
            cursor: pointer;
            transform: scale(1.1);
            color: $layer-social-color;
            border: 1px solid $layer-social-color;
        }
    }
}